####################################################
#                    GITIGNORE                     #
####################################################

.DS_Store
.env
.idea
logs
*.log
node_modules

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist